version: "3"

services:
    grpc-server:
        image: "diffie-hellman-server:1.0.0__linux_amd64"
        # environment:
        #     config: "/config/config.json"
        # depends_on:
        #     - "mbserver"
        deploy:
            resources:
                limits:
                    cpus: '0.1'
                    memory: 50M
        networks:
            - mqtt-broker_net
    grpc-client:
        image: "diffie-hellman-client:1.0.0__linux_amd64"
        depends_on:
            - "grpc-server"
        deploy:
            resources:
                limits:
                    cpus: '0.1'
                    memory: 50M
        networks:
            - mqtt-broker_net
        # command: ["/testGrpcClient"]
networks:
  mqtt-broker_net:
    external: false
    name: mqtt-broker_net