version: '3.1'

services:
  diffie-hellman-service:
    image: {ARG_NAME}:{ARG_VERSION}__{ARG_OS}_{ARG_ARCH}
    networks:
      - mqtt-broker_net
    environment:
      - REDIS_HOST=redis
      - MQTT_HOST=mqtt-broker

networks:
  mqtt-broker_net:
    external: true